/* .wave-svg{
    background-image: url("./images/bg-footer-top-desktop.svg");
    height: 34em;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
} */

footer{
    background-color: hsl(192, 100%, 9%);
    height: 500px;
    display: flex;
    /* bottom:102px; */
    color: white;
    justify-content: space-between;
}

   /* LEFT FOOTER  */


.footer-logo{
    /* background-image: url(./images/logo.svg); */
    background-size: 40%;
    /* background-color: azure; */
    text-indent: -939993px;
    background-repeat: no-repeat;
    fill: currentColor ;
}

.phone-no-img{
    background-image: url(./images/icon-phone.svg);
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    text-indent: -88888888px;
}

.phone-number{
    display: flex;
}



.email-img{
    height: 30px;
    color: red;
    width: 20px;
    background-repeat: no-repeat;
    text-indent: -88888888px;

}



.left-footer{
    /* background-color: red; */
    position: relative;
    left: 100px;
    top: 120px;
    width: 400px;
    height: 1px;
    /* background-color: red; */

}
                /* RIGHT FOOTER */
.right-footer{
    /* background-color: yellow; */
    position: relative;
    right: 200px;
    width: 400px;
    height: 1px;
    top: 100px;
}

.newsletter, .receive{
    color: white;
}

.subscribe-tab{
    justify-content: space-between;
    outline: none;
}

input{
    outline: none;
}
